*{
    margin: 0;
    padding: 0;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

}


.Container{
h1{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 5rem;
    background-color: black;
    color: white;
    height: 20vh;

}
}


#searchBar{
margin-top: 2%;
margin-left: 25%;
margin-right: 25%;
}

.sortContainer{
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-top: 2%;
    margin-bottom: 2%;
    button{
        margin-left: 2%;
    }
}

.employees{
    padding-left: 15%;
    padding-right: 15%;

}
